[submodule "asn1_codec"]
	path = asn1_codec
	url = https://github.com/usdot-jpo-ode/asn1_codec.git
[submodule "jpo-cvdp"]
	path = jpo-cvdp
	url = https://github.com/usdot-jpo-ode/jpo-cvdp.git
[submodule "jpo-security-svcs"]
	path = jpo-security-svcs
	url = https://github.com/usdot-jpo-ode/jpo-security-svcs.git
[submodule "jpo-sdw-depositor"]
	path = jpo-sdw-depositor
	url = https://github.com/usdot-jpo-ode/jpo-sdw-depositor.git
[submodule "qa/test-harness/ode-output-validator-library"]
	path = qa/test-harness/ode-output-validator-library
	url = https://github.com/usdot-jpo-ode/ode-output-validator-library.git
[submodule "jpo-utils"]
	path = jpo-utils
	url = https://github.com/usdot-jpo-ode/jpo-utils.git
