####################
### root         ###
/.project
/ode.log
/jpo-ode-consumer-example/target/
.idea
*.iml
*.DS_Store
/SNMP_Error.log
/Events.log
/uploads
**/*.iml
*.DS_Store
SNMP_Error.log
Events.log
uploads
/*.versionsBackup
/*.releaseBackup
/.env
settings.xml
/.settings
.metadata
*.pyc
/kafka/
**/target/**
**/.rewrite-cache/**

####################
### jpo-ode-svcs ###
/jpo-ode-svcs/bin
/jpo-ode-svcs/uploads
/jpo-ode-svcs/src/main/java/us/dot/its/jpo/ode/plugins
/jpo-ode-svcs/target/
!/jpo-ode-svcs/.mvn/wrapper/maven-wrapper.jar
/jpo-ode-svcs/ode.log
/jpo-ode-svcs/logback-out.xml
/jpo-ode-svcs/*.versionsBackup
/jpo-ode-svcs/SNMP_Error.log
/jpo-ode-svcs/src/main/main.iml
/jpo-ode-svcs/src/test/test.iml
/jpo-ode-svcs/*.releaseBackup

### STS ###
/jpo-ode-svcs/.apt_generated
/jpo-ode-svcs/.classpath
/jpo-ode-svcs/.factorypath
/jpo-ode-svcs/.project
/jpo-ode-svcs/.settings
/jpo-ode-svcs/.springBeans

### IntelliJ IDEA ###
/jpo-ode-svcs/.idea
/jpo-ode-svcs/*.iws
/jpo-ode-svcs/*.iml
/jpo-ode-svcs/*.ipr

### NetBeans ###
/jpo-ode-svcs/nbproject/private/
/jpo-ode-svcs/build/
/jpo-ode-svcs/nbbuild/
/jpo-ode-svcs/dist/
/jpo-ode-svcs/nbdist/
/jpo-ode-svcs/.nb-gradle/
/jpo-ode-svcs/ode.log
/jpo-ode-svcs/Events.log
/jpo-ode-svcs/SNMP_Error.log
/jpo-ode-svcs/src/main/main.iml
/jpo-ode-svcs/src/test/test.iml
/jpo-ode-svcs/*.versionsBackup

######################
### jpo-ode-common ###
/jpo-ode-common/target
/jpo-ode-common/.classpath
/jpo-ode-common/.project
/jpo-ode-common/.settings
/jpo-ode-common/bin
/jpo-ode-common/*.versionsBackup
/jpo-ode-common/*.releaseBackup

####################
### jpo-ode-core ###
/jpo-ode-core/bin
/jpo-ode-core/target/
!/jpo-ode-core/.mvn/wrapper/maven-wrapper.jar
/jpo-ode-core/src/test/resources/CVMessages/VehicleSituationDataServiceResponse.uper
/jpo-ode-core/*.versionsBackup
/jpo-ode-core/*.releaseBackup

### STS ###
/jpo-ode-core/.apt_generated
/jpo-ode-core/.classpath
/jpo-ode-core/.factorypath
/jpo-ode-core/.project
/jpo-ode-core/.settings
/jpo-ode-core/.springBeans

### IntelliJ IDEA ###
/jpo-ode-core/.idea
/jpo-ode-core/*.iws
/jpo-ode-core/*.iml
/jpo-ode-core/*.ipr

### NetBeans ###
/jpo-ode-core/nbproject/private/
/jpo-ode-core/build/
/jpo-ode-core/nbbuild/
/jpo-ode-core/dist/
/jpo-ode-core/nbdist/
/jpo-ode-core/.nb-gradle/
/jpo-ode-core/src/main/java/rebel.xml

#######################
### jpo-ode-plugins ###
/jpo-ode-plugins/.apt_generated/
/jpo-ode-plugins/.settings
/jpo-ode-plugins/target/
/jpo-ode-plugins/.project
/jpo-ode-plugins/bin/
/jpo-ode-plugins/.classpath
/jpo-ode-plugins/ca.cert
/jpo-ode-plugins/self.cert
/jpo-ode-plugins/self.s
/jpo-ode-plugins/sign.prv
/jpo-ode-plugins/*.versionsBackup
/jpo-ode-plugins/*.releaseBackup


#########################
### jpo-security-svcs ###
/jpo-security-svcs/*.log
/qa/test-harness/*.log
/qa/test-harness/.vscode

#########################
### jpo-cvdp ###
ppm_data/*
