<!DOCTYPE html>
<html>
<head>
  <title>ODE Demo Console</title>
  <!-- Third Party Scripts -->
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="/webjars/materializecss/1.0.0/js/materialize.min.js"></script>
  <!-- Third Party Stylesheets -->
  <link rel="stylesheet" href="/webjars/materializecss/1.0.0/css/materialize.min.css"></link>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
  <!-- Local Scripts -->
  <script src="/app.js"></script>
</head>
<body>
  <noscript>
    <h2>
      Seems your browser doesn't support
      Javascript! Websocket relies on Javascript being enabled. Please
      enable Javascript and reload this page!
    </h2>
  </noscript>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">ODE Demo Console</a>
      <div class="right" id="version">
        <strong>ERROR - Failed to load version!</strong>
      </div>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h5 class="header center orange-text">ODE Demonstration Console</h5>
      <div class="row center">
        For development and testing purposes only. Use this console to play around with and familizarize yourself with ODE features. This console automatically subscribes to the ODE's Kafka topics on page load. Use the buttons below to disconnect and reconnect the Kafka subscription.
      </div>
      <div class="row center">
        <button id="connect" class="btn btn-default waves-effect waves-light orange" type="submit">Connect Websocket</button>
        <button id="disconnect" class="btn btn-default waves-effect waves-light orange" type="submit" disabled="disabled">Disconnect Websocket</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="divider"></div>
    <div class="row">
      <h6 class="center light-blue-text"><i class="material-icons">insert_drive_file</i> Upload a Data File</h6>
      <div class="col s6">
        <form>
          <p class="light">
            Upload a signed or unsigned data file in binary UPER encoded format.
          </p>
          <p>
            Select whether to display output for <strong>All Records</strong> or to display <strong>Sanitized Records Only</strong>.
          </p>
          <p>
            <label>
              <input type="radio" name="sanitized" value="false" id="allRecords" checked="checked"></input>
              <span>All Records</span>
            </label>
          </p>
          <p>
            <label>
              <input type="radio" name="sanitized" value="true" id="sanitizedRecords"></input>
              <span>Sanitized Records Only</span>
            </label>
          </p>
          <p>
            <div class="file-field input-field">
              <div class="btn btn-small">
                <span>Select File</span>
                <input type="file" id="file"></input>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text"></input>
              </div>
              <button id="upload" class="btn btn-small" type="submit">Upload</button>
            </div>
          </p>
        </form>
      </div>
      <div class="col s6">
        <p class="light">File Upload Status Table</p>
        <div style="overflow-y:scroll; max-height:200px;">
          <table class="striped highlight">
            <thead>
              <tr>
                <th>Status</th>
                <th>File</th>
              </tr>
            </thead>
            <tbody id="uploadResponse"></tbody>
          </table>
        </div>
        <div>
          <ul>
            <li th:each="file : ${files}"><a th:href="${file}" th:text="${file}"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <h6 class="center light-blue-text"><i class="material-icons">message</i> Listen for Kafka Messages</h6>
      <p class="center light">
        When the websocket is connected, Kafka messages published by the ODE will appear here.
      </p>
      <p class="center">
        <button id="clear" class="btn btn-default waves-effect waves-light orange" type="submit">Clear Messages</button>
      </p>
      <div class="col s12">
        <textarea id="messages" style="overflow-y:scroll; height:500px;" readonly="readonly"></textarea>
      </div>
    </div>
  </div>
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About the ODE</h5>
          <p class="grey-text text-lighten-4">The ITS ODE is a real-time virtual data router that ingests and processes operational data from various connected devices - including vehicles, infrastructure, and traffic management centers - and distributes it to other devices and subscribing transportation management applications.</p>
        </div>
        <div class="col l3 s12 offset-l3">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/usdot-jpo-ode/jpo-ode">GitHub</a></li>
            <li><a class="white-text" href="https://www.itsforge.net">ITS OSADP</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="left">
          <a class="orange-text text-lighten-3" href="http://www.boozallen.com">Made by</a> Booz Allen Hamilton, Inc.
        </div>
        <div class="right">
          <span class="orange-text text-lighten-3">Last updated</span> February 11, 2019
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
