<!DOCTYPE html>
<html>

<head>
    <title>ODE Demo Console</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/main.css" rel="stylesheet"></link>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>

<body style="padding-top: 70px;">
    <noscript>
        <h2 style="color: #ff0000">Seems your browser doesn't support
			Javascript! Websocket relies on Javascript being enabled. Please
			enable Javascript and reload this page!</h2> </noscript>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container"> <a class="navbar-brand" href="#">ODE Demo Console</a> </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="column-left">
                <div class="col-md-12">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="connect">WebSocket connection:</label>
                            <button id="connect" class="btn btn-default">Connect</button>
                            <button id="disconnect" class="btn btn-default" disabled="disabled">Disconnect</button>
                        </div>
                    </form>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>File Uploader</th>
                        </tr>
                    </thead>
                    <tbody> </tbody>
                </table>
                <form>
                    <p class="help-block">Upload a signed or unsigned data file encoded in binary UPER encoded, hex UPER encoded or JSON.</p>
                    <input type="file" id="file" name="file" />
                    <br></br>
                    <input type="radio" name="fileType" value="bsmlog"  checked="checked"/> Log file<br></br>
                    <input type="radio" name="fileType" value="bsm"/> Raw BSM file<br></br>
                    <input type="radio" name="fileType" value="mf" /> MessageFrame+BSM file<br></br>
                    <button id="upload" class="btn btn-default" type="submit">Upload</button>
                </form>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>File</th>
                            </tr>
                        </thead>
                        <tbody id="uploadResponse"></tbody>
                    </table>
                </div>
                <div>
                    <ul>
                        <li th:each="file : ${files}"><a th:href="${file}" th:text="${file}" /></li>
                    </ul>
                </div>
            </div>
            <div class="column-right">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>RSU SNMP Query</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" id="snmp-ip" placeholder="IP Ex. 127.0.0.1"></input>
                                <input type="text" id="snmp-oid" placeholder="OID Ex. .1.3.6.1.2.1.1.3.0"></input>
                                <button id="snmp-submit" class="btn btn-default">Submit</button>
                            </div>
                        </form>
                        <div id="snmp-response"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column-left">
                <div class="row">
                    <div class="col-md-12">
                        <table id="conversation" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>BSMs</th>
                                </tr>
                            </thead>
                            <tbody id="messages"> </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column-right">
                <div class="row">
                    <div class="col-md-12">
                        <table id="conversation_filtered" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Filtered BSMs</th>
                                </tr>
                            </thead>
                            <tbody id="filtered_messages"> </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>