body {
	background-color: #f5f5f5;
}

#container {
	max-width: 940px;
	padding: 2em 3em;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

h1 {
	font-size: 1.5em;
	text-indent: 4%;
}

hr {
	margin-top: 5%;
	margin-bottom: 5%;
}

/* LEFT SECTION */
#title {
	background-color: #1e3871;
	height: 7.5%;
	font-size: 1.75em;
	color: white;
	font-weight: bolder;
}

.row {
	float: left;
	width: 100%;
	margin: 1%;
	overflow-y: auto;
}

.column-left {
	float: left;
	width: 45%;
	margin: 1%;
	overflow-y: auto;
}

/* RIGHT SECTION */
.column-right {
	float: right;
	width: 45%;
	margin: 1%;
	overflow-y: auto;
}

#map {
	height: 50%;
}

input[type="radio"] {
	margin-bottom: 5%;
	margin-left: 10%;
}

.radioText1 {
	font-size: 1.0em;
}

.radioText2 {
	font-size: 1.0em;
}

#requestUri, #requestId {
	width: 95%;
}

#button-container {
	margin-top: 0;
	height: 7.5%;
}

.input-button {
	background-color: grey;
	color: white;
	float: left;
	width: 19%;
	margin: .5%;
	height: 73%;
	font-size: 1.0vw;
	border: 2px solid;
	border-radius: 25px;
}

.clear-container {
	height: 4%;
}

.clear-button {
	background-color: grey;
	color: white;
	float: right;
	width: 24%;
	margin: 1%;
	height: 80%;
	font-size: 1.0vw;
	border: 2px solid;
	border-radius: 25px;
}

#sent-console {
	background-color: white;
	height: 10%;
	overflow-y: scroll;
	white-space: pre;
	font-family: monospace;
}

#received-console {
	width: 100%;
	background-color: white;
	height: 16.5%;
	overflow-y: scroll;
	white-space: pre;
	font-family: monospace;
}