<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">
	<jmxConfigurator />

	<appender name="DEFAULT" class="ch.qos.logback.core.FileAppender">
		<file>ode.log</file>
		<append>true</append>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="DATA-FILE" class="ch.qos.logback.core.FileAppender">
		<file>Events.log</file>
		<append>true</append>
		<encoder>
			<pattern>%date{"HH:mm:ss", UTC} [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{50} - %msg %n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="SNMP" class="ch.qos.logback.core.FileAppender">
		<file>SNMP_Error.log</file>
		<append>true</append>
		<encoder>
			<pattern>%date{"HH:mm:ss", UTC} [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<!-- additivity=false ensures data trace only goes to Data log -->
	<logger name="us.dot.its.jpo.ode.eventlog.EventLogger" level="ERROR" additivity="false">
		<appender-ref ref="DATA-FILE" />
	</logger>
	
	<logger name="org.springframework.web" level="INFO" />
	<logger name="us.dot.its.jpo.ode" level="DEBUG" />
	<logger name="us.dot.its.jpo.ode.rsuHealth" level="DEBUG" additivity="false">
		<appender-ref ref="SNMP" />
	</logger>
	<root level="WARN">
		<appender-ref ref="DEFAULT" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
